<%= content_for :nav_header do %>
	<div id="navmission">
		 <a href="index.html">Hello</a>
	</div> -->

	<div id="navinspired">
		<a href="inspired/mission_statement_examples.html"><img src="public/images/inspired_nav.png" alt="Mission Statement Examples" width="116" height="25" /></a>
	</div>	
<% end %>

<div id="itembox">
       			<div id="text"> 
					<div id="titletext"> Are you feeling stressed and overwhelmed in some areas of your life while severely lacking in others? Do you have a hard time separating your professional from your personal life? Not experiencing enough relaxation, fun or recreation? 
   					</div>
       			360 Life allows you to focus on your personal well-being and make important changes by providing an overview snapshot of how balanced your life currently appears so you can immediately identify areas in your life that need the most attention now. Our clinically proven personal well-being tool enables you to accurately assess areas such as family and relationships; personal growth and development; health, nutrition and exercise; money and finances etc., and measure your level of satisfaction in each so you can set goals and track progress according to what’s most important to you and what you would most like to achieve. If you’re ready to get back into the driver’s seat of your life then start by creating your personal plan today. 
 
    			</div>

