	<div class="row content home">
			<div class="large-12 columns">
		<div id="slider">
						<ul>
							<li><%= image_tag ("data1/images/1280_ducati.jpg") %></li>
							<li><%= image_tag ("data1/images/yamaha_moto2.jpg") %></li>
							<li><%= image_tag ("data1/images/1280_ducati_streetfighter.jpg") %></li>
						</ul>
			</div>
		</div>	
	</div>
